<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="System.Data.SQLite"/>-->
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SQLite" connectionString="Data Source=..\..\pupsqlite_ver_1201000\dbs\dagentTest.db;Version=3;" providerName="System.Data.SQLite"/>
    <add name="targetDb" connectionString="Data Source=AKAWAWIN8\SQLSERVER2014;Initial Catalog=nichidai;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
